footer{
    height: 30%;
}

.hills{
    position: fixed;
    bottom: 0rem;
    max-height: 30%;
    z-index: 1;
}

nav{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 8%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;

    svg{
        fill:#8385A9;
    }

    svg:hover{
        fill: $SoftRed;
        transition: 0.5s;
    }
}

.fb .insta .pinterest:hover {
    //color:$SoftRed;
    outline: 1px red solid;
}