footer{
    height: 30%;
}

.hills{
    position: fixed;
    bottom: 0em;
    max-height: 30%;
    left: -245%;
    z-index: 1;
}

nav{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 8%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

.fb .insta .pinterest {
    display: inline-block;
}