html {
    font-size: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    background: linear-gradient($VeryVeryDarkBlue, #2F2439);
}

body {
    height: 100%;
}

.stars {
    z-index: 1;
}