html {
    font-size: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    background-color: $VeryDarkBlue;
}
body{
    height: 100%;
}

h1{
    color: $White;
    text-transform: uppercase;
    font-weight: 700;
}

h2{
    color: $White;
}
.stars{
    z-index: 1;
}