main {
    height: 70%;
    background-image: url(/images/bg-stars.svg);
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .container {
        //margin: auto;
        outline: 1px green solid;
        height: 100%;
        //width: max(600rem, 50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        //max-width: 50%;
    }

    .flip-card-container {
        outline: 1px red solid;
        padding: 2em 1em;
        //height: 100%;
        //width: max(60rem, 50%);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flip-card {
        width: 4rem;
        height: 4rem;
        position: relative;
        text-align: center;
        outline: 1px green solid;

        h2 {
            color: $SoftRed;
            width: initial;
            position: absolute;
            text-align: center;
            //center horizontally
            left: 0;
            right: 0;
            z-index: 4;
            font-size: 1rem;
            letter-spacing: 0em;
            //center vertically
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .flip-card-top {
            background-color: $DarkBlue;
            opacity: 0.65;
            border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
            height: 50%;
            z-index: 4;
            
        }

        .flip-card-bottom {
            background-color: $DarkBlue;
            border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
            box-shadow: 0rem 0.2rem $VeryVeryDarkBlue;
            height: 50%;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            //z-index: 4; 
        }

        .semi-circle-left{
            width: 0.1875rem;
            height: 0.375rem;
            border-radius: 0 0.1875rem 0.1875rem 0;
            background-color: $VeryVeryDarkBlue;
            position: relative;
            bottom: 10%;
        }

        .semi-circle-right{
            width: 0.1875rem;
            height: 0.375rem;
            border-radius: 0.1875rem 0 0 0.1875rem;
            background-color: $VeryVeryDarkBlue;
            position: relative;
            bottom: 10%;
        }
    }
        
    h1 {
        outline: 1px blue solid;
        letter-spacing: 0.5em;
        line-height: 1.5em;
        color: $White;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 1em;
    }

    h3 {
        //outline: 1px red solid;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        font-size: 40%;
        color: $GrayishBlue;
        margin-top: 1em;
        padding: 1em;
    }

    @media only screen and (max-width: 600px) {
        .flip-card {
            width: 0.7rem;
            height: 0.7rem;

            h2{
                font-size: 0.7rem;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .flip-card {
            width: 1rem;
            height: 1rem;

            h2{
                font-size: 1rem;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        .flip-card {
            width: 2rem;
            height: 2rem;

            h2{
                font-size: 2rem;
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .flip-card {
            width: 4rem;
            height: 4rem;

            h2{
                font-size: 4rem;
            }
        }
    }
    /*.units {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }*/
}
