main {
    height: 70%;
    background-image: url(/images/bg-stars.svg);
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .container {
        margin: auto;
        //outline: 1px red solid;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
    }

    .flip-card-container {
        padding: 2em 1em;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .flip-card {
        position: relative;
        width: 4rem;
        height: 4rem; //maybe dangerous to use height in css!
        text-align: center;
        //outline: 1px green solid;

        h2 {
            color: $SoftRed;
            width: initial;
            position: absolute;
            text-align: center;
            //center horizontally
            left: 0;
            right: 0;
            z-index: 4;
            font-size: 2.2rem;
            letter-spacing: 0em;
            //center vertically
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .flip-card-top {
            background-color: $DarkBlue;
            opacity: 0.75;
            border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
            height: 50%;

            
        }

        .flip-card-bottom {
            background-color: $DarkBlue;
            border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
            box-shadow: 0rem 0.2rem $VeryVeryDarkBlue;
            height: 50%;
        }
    }
        
    h1 {
        letter-spacing: 0.5em;
        line-height: 1.5em;
        color: $White;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 1em;
    }

    h3 {
        //outline: 1px red solid;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        font-size: 0.4em;
        color: $GrayishBlue;
        margin-top: 1em;
        padding: 1em;
    }
    /*.units {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }*/
}
